# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python

# Environments
.env
.venv
env/
venv/
ENV/

# mypy
.mypy_cache/

#Ide
.vscode
.idea

Pipfile

# Coverage files
.coverage
htmlcov
